.center{
    text-align: center;
}
.big-btn{
    padding:  25% 5%;
}
.green{
    background-color: green;
}
.gray{
    background-color: lightgray;
}
.orange{
    background-color: orange;
}
.purp{
    background-color: purple;
}
li{
    width: 9%;
    height: 100%;
}
