<div class="center">
    <h1>Quiz: Answer 10 questions</h1>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bar" aria-controls="bar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bar">
            <ul class="navbar-nav mr-auto container-fluid">
                <li class="nav-item gray" *ngFor="let item of [].constructor(10); let i = index"><a href="#"
                        (click)="setQNum(i)">{{i+1}}</a></li>
                <li class="nav-item gray"><a href="#" (click)="setQNum(10)">Finish</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="text-center">
    <P>Legend: Green= answered, orange=marked, gray= unanswered, purple=current</P>
    <p>Colors have not yet been implemented</p>
    <p>Your answers are saved correctly</p>
    

    <div><button class="btn btn-primary float-left big-btn" (click)="qDown()">Prev</button></div>
    <div><button class="btn btn-primary float-right big-btn" (click)="qUp()">Next</button></div>
    <div class="clearfix container text-center widenDiv">

        <div *ngIf="((questionObject[qNum].id) !=11)">
            <h1>QUESITON {{(qNum+1)}}) {{questionObject[qNum].prompt}}</h1>
        </div>
        <div class="container text-left">
            <div *ngIf="questionObject[qNum].id !=11">
                
                <form #userSel="ngForm" (ngSubmit)="saveAns(qNum, userSel.value.answer)">
                    <h3><input required type="radio" name="answer" value="a" id="a" ngModel><label for="a"> &nbsp;A)
                            {{questionObject[qNum].a}}</label></h3><br>
                    <h3><input required type="radio" name="answer" value="b" id="b" ngModel><label for="b"> &nbsp;B)
                            {{questionObject[qNum].b}}</label></h3><br>
                    <h3><input required type="radio" name="answer" value="c" id="c" ngModel><label for="c"> &nbsp;C)
                            {{questionObject[qNum].c}}</label></h3><br>
                    <h3><input required type="radio" name="answer" value="d" id="d" ngModel><label for="d"> &nbsp;D)
                            {{questionObject[qNum].d}}</label></h3><br>
                    <button class="btn btn-primary">Save selection</button>
                    {{message}}
                </form>
            </div>
        </div>
        <div *ngIf="questionObject[qNum].id ==11">
            <h1>Click <button class="btn btn-primary" (click)=grade()>submit</button> for grade</h1>
        </div>


    </div>
</div>